@charset "utf-8";
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
* {
  margin: 0;
  padding: 0;
}
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
th,
dt {
  font-weight: normal;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-size: 14px;
  font-family: "Helvetica Neue", arial, "Microsoft Yahei", "微软雅黑", 'Hiragino Sans GB', tahoma, sans-serif;
}
a {
  text-decoration: none;
}
/*底部*/
.footer-box {
  padding: 0.3rem 0;
  /* padding: 5px 0px; */
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.5rem;
}
.footer-box a {
  color: #fff;
}
